.slideContainer {
  max-width: 1200px;
  width: 100%;
  display: grid;
  margin: 35px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide {
  display: flex;
  flex: 2;
}

.imageCounter {
  text-align: center;
}

.buttons {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  padding: 15px;
}

.buttons:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.slideImage {
  height: auto;
  width: 100%;
}
