.slideContainer {
  max-width: 1200px;
  width: 100%;
  display: grid;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slide {
  display: flex;
  flex: 2;
}

.buttons {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.slideImage {
  height: auto;
  width: 100%;
}
