.slide {
  display: flex;
  flex: 2;
}

img {
    width: 100%;
    height: auto;
}

.buttons {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

.pageCount {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.slideContainer {
  display: grid;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}