.result {
  width: 290px;
  margin-left: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.grid {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 40px;
  text-align: center;
}

.gridElement {
  border: solid #673ab7 1px;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 10px;
}

.innerContainer {
  border: #673ab7 1px solid;
  padding: 15px;
  background: rgba(103, 58, 183, 0.78);
}
